#scheduler > table > tbody > tr:nth-child(1) > td:nth-child(2) > div > div > table > tbody > tr:nth-child(2) > th,
#scheduler > table > tbody > tr:nth-child(1) > td:nth-child(1) > div > table > tbody > tr:nth-child(2),
body > div.k-widget.k-window > div.k-popup-edit-form.k-scheduler-edit-form.k-window-content.k-content > div > div:nth-child(12),
body > div.k-widget.k-window > div.k-popup-edit-form.k-scheduler-edit-form.k-window-content.k-content > div > div:nth-child(9),
textarea.k-textbox,
div[data-container-for="recurrenceRule"] {
    display: none;
}

.k-scheduler-toolbar {
    position: fixed;
    left: 9px;
    right: 9px;
    z-index: 1;
}

.k-scheduler-timelineMonthview {
    margin: 43px 0 0 0;
}

#logOffButton {
    display: inline-block;
    float: right;
}

#projectsButton {
    display: inline-block;
    float: right;
}
