<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <meta name="viewport" content="width=device-width">
    <link href="~/Content/kendo/kendo.common.min.css" rel="stylesheet">
    <link href="~/Content/kendo/kendo.default.min.css" rel="stylesheet">
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>


    <script src="~/Scripts/kendo/kendo.all.min.js"></script>
    <script src="~/Scripts/kendo/kendo.timezones.min.js"></script>
    <script src="~/Scripts/kendo/cultures/kendo.culture.ru-RU.min.js"></script>
    <script type="text/javascript">
        kendo.culture("ru-RU");
    </script>


    <script src="~/Content/AppScripts/Scripts.js"></script>
    <script src="~/Content/AppScripts/Filters.js"></script>

    <link href="~/Content/kendo/2015.2.902/kendo.common.min.css" rel="stylesheet">
    <link href="~/Content/kendo/2015.2.902/kendo.mobile.all.min.css" rel="stylesheet">
    <link href="~/Content/kendo/2015.2.902/kendo.dataviz.min.css" rel="stylesheet">
    <link href="~/Content/kendo/2015.2.902/kendo.default.min.css" rel="stylesheet">
    <link href="~/Content/kendo/2015.2.902/kendo.dataviz.default.min.css" rel="stylesheet">
    <script src="~/Scripts/kendo/kendo.aspnetmvc.min.js"></script>
    <link href="~/Content/kendo/2015.2.902/kendo.common.min.css" rel="stylesheet">
    <link href="~/Content/kendo/2015.2.902/kendo.flat.min.css" rel="stylesheet">
    <link href="~/Content/site.css" rel="stylesheet">
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

</head>
<body>
    @RenderBody()
</body>
</html>