@using ResourceManagementSystem2.Models
@using Kendo.Mvc.UI
@model Programmer[]

@{
    ViewBag.Title = "Resource Management System";
}


@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
{
    @Html.AntiForgeryToken()
}

@{
    var taskTemplate = @"
        <div class='task-template' style='background-color:#=Color#;'>
            <p>
               <div class='text-block'> #:title# </div>
            </p>
        </div>";
}

@(Html.Kendo().Scheduler<TaskViewModel>()
    .Name("scheduler")
    .Editable(e => e.TemplateId("editor"))
    .EventTemplate(taskTemplate)
    .Events(e => e.Navigate("onTest"))
    .Date(DateTime.Now)
    .StartTime(DateTime.Now)
    .Views(views =>
    {
        views.TimelineMonthView(timeline =>
        {
            timeline.StartTime(DateTime.MinValue);
            timeline.EndTime(DateTime.MaxValue);
            timeline.EventHeight(50);
        });
    })
    .Group(group => group.Resources("ProgrammerID").Orientation(SchedulerGroupOrientation.Vertical))
    .Resources(resource =>
    {
        resource.Add(m => m.ProgrammerID)
        .Title("ProgrammerID")
        .Name("ProgrammerID")
        .DataTextField("Name")
        .DataValueField("ProgrammerViewModelID")
        .DataSource(ds => ds.Read("ReadForScheduler", "Programmers")
        .Events(e =>
        {
            e.Push("onSync");
        })
        );
    })

    .DataSource(d => d
            .Model(m =>
            {
                m.Id(f => f.TaskViewModelID);
                m.Field(f => f.Title).DefaultValue("No title");
            })
    .Read("Read", "Tasks")
    .Create("Create", "Tasks")
    .Destroy("Destroy", "Tasks")
    .Update(upd => { upd.Action("Update", "Tasks");
        //upd.Data("onTest");
    })
        //.Events(e => e.Sync("onChange"))
    )
)

@{
    Html.RenderAction("Index", "Projects");
    Html.RenderAction("Index", "Programmers");
    Html.RenderAction("Index", "Specializations");
}

@*<div class="today" style="width:100px; height:100px; background-color:red; margin-left:150%;"></div>*@

<script>
    function onTest(e) {
        console.log("onTest");
        //console.log("navigate", e.date);
        //var ths = $('th');
        //console.log($('th').text());
        var d = new Date().getDate();
        var currentTh = $('th:contains(' + d + ')').first();
        currentTh.wrap('<div id="today"></div>');
        //console.log(currentTh);

        var currentTime = $('.k-current-time').first();
        console.log(currentTime);

        $('.tbody').scrollTo('.k-today');

        //var todayCell = $('.k-today').first();
        //console.log(todayCell);
        //todayCell.append('<div id="today">12345</div>')
        //currentTh.wrap('<div id="today"></div>');
        //currentTh.attr('id', 'today');
        //console.log($('#today'));

        //var container = $('div'),
        //scrollTo = $('#today');

        //container.scrollLeft(
        //    scrollTo.offset().left - container.offset().left + container.scrollLeft()
        //);

        //currentTh.wrap('<div id="today"></div>');
        //console.log($('#today'));
        //currentTh.attr('id', 'today');
        //console.log(currentTh[0]);

        //$('k-scheduler-layout k-scheduler-timelineMonthview k-scrollbar-h').scrollTo(currentTh)

        //$('k-scheduler-layout k-scheduler-timelineMonthview k-scrollbar-h').animate({
        //    scrollRight: $("#today").offset().right
        //}, 2000);

        //$(window).scrollTo($('#today'));

        //$('html, body').animate({
        //    scrollTop: $("#today").offset().top
        //}, 2000);

        //for (var index = 0; index < 106; )
        //{
        //    console.log(th[index]);
        //    if (th.innerText == "3 Июнь")
        //        console.log(th);
        //}

        //var scheduler = $("#scheduler").data("kendoScheduler");
        //var view = scheduler.view();

        //console.log(view.startDate().toString("dd/MM/yyyy"));
        //console.log(view.startTime().toString("dd/MM/yyyy"));
        //console.log(e.date.toString("dd/MM/yyyy"));
        //view.startDate(e.date);

        //var scheduler = $("#scheduler").data("kendoScheduler");
        //var options = scheduler.options;
        //scheduler.destroy();
        //options.startTime = new Date("2014/3/4 10:00");
        //options.endTime = new Date("2014/3/4 29:00");
        //$("#scheduler").empty().kendoScheduler(options);
    }

</script>

<script>
    $(function () {
        renderButtons();
    });
</script>


<script id="editor" type="text/x-kendo-template">
    <h4>SetUp Your Task</h4>
    <div class="edit-form">
        <div data-container-for="start" class="k-edit-field">
            <label>Start: <input data-role="datepicker" name="start" /></label>
        </div>
        <div data-container-for="end" class="k-edit-field">
            <label> End:&nbsp;&nbsp;<input data-role="datepicker" name="end" /></label>
        </div>
        <div data-container-for="proj" class="k-edit-field">
            <label>
                Project :
                <select id="proj-dropdown" name="proj" data-role="dropdownlist" data-bind="value:ProjectID"
                        data-value-field="ProjectViewModelID" data-source="{transport: {read: {url : '/Scheduler/GetProjectColors'}}}" data-text-field="Title">
                    <option value="" disabled selected>Select your option</option>
                </select>
            </label>
        </div>
        <div data-container-for="programmers" class="k-edit-field">
            <label>
                Programmer :
                <select data-bind="value:ProgrammerID" name="programmers" disabled data-text-field="Name" data-role="dropdownlist" style="display: none;"
                        data-value-field="ProgrammerViewModelID" data-source="{transport: {read: {url : '/Programmers/ReadForScheduler'}}}"></select>
            </label>
        </div>
    </div>
</script>

<script>
    function customizeSchedulerEditor() {
        console.log("customizeSchedulerEditor() starts")
        $('#proj-dropdown').kendoDropDownList({
            optionLabel: "Select a fruit..."
        })

    }
    customizeSchedulerEditor();
</script>
<script>
    function insertPopupCaption(e) {
        $('.k-window-title').text("add");

    }
</script>